body, :root {
    background-color: wheat;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);

    --left: 20px;
    --bg: rgb(255, 245, 226);
    --bg-dark: rgb(201, 182, 147);
    --bg-darker: rgb(138, 121, 89);
    --text: black;
    --tag: rgb(130, 255, 130);
}
div.header {
    position: absolute;
    height: 5em;
    background-color: var(--bg-dark);
    width: 100%;

    display: flex;
    align-items: center;
}

div.contents {
    margin-top: 5em;
    height: calc(100% - 5em);
    background-color: var(--bg);

    overflow: scroll;
    overflow-x: auto;
    
    scrollbar-color: var(--text) var(--bg);
    scrollbar-width: thin;
}
input#search {
    margin: 1em;
    margin-right: 0.1em;
    height: 2em;
    width: 100%;
    border-radius: 0.5em;
    background-color: var(--bg-dark);
    color: rgb(255, 227, 227);
    border-color: var(--bg-darker);
}
.header > button {
    margin: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    padding: 1px;
    border-width: 2px;
    height: calc(2em + 6px);
    min-width: calc(2em + 6px);
    width: fit-content;
    display: inline-block;
    border-radius: 0.5em;
    background-color: var(--bg-dark);
    color: rgb(255, 227, 227);
    border-color: var(--bg-darker);
}
div.tags > div {
    background-color: var(--tag);
    height: 1.4em;
    border-radius: 0.7em;
    margin: 0.2em;
    padding: 0.3em;
    padding-bottom: 0.1em;
    text-align: center;
    text-justify: center;
    color: rgb(39, 0, 0);
}
div.syntax > table {
    margin-left: var(--left);
    text-align: left;
    border: 1px solid var(--text);
    border-spacing: 0;
}
div.syntax > table > tbody > tr {
    border: 1px solid blue;
}
div.syntax > table > tbody > tr > th {
    border-top: 0.5px solid var(--text);
    border-left: 0.5px solid var(--text);
    padding-left: 0.2em;
    padding: 0.4em;
}
div.syntax > table > tbody > tr > td {
    border-top: 0.5px solid var(--text);
    border-left: 0.5px solid var(--text);
    padding-left: 0.2em;
    padding: 0.4em;
}
div.syntax > h3 {
    text-transform: capitalize;
}